/* Root Styles */
:root {
    --header: #41431B;
    --bg: #AEB784;

    --card: #E3DBBB;
    --card-main: #f6efd5;

    --text: #2A2A1F;
    --text-light: #5a5a4b;

    --border: #8E9568;

    --read: #2f8e32;
    --not-read: #F59E0B;
    --delete: #EF4444;
}

/* General Styles */
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: var(--bg);
    color: var(--text);
}

/* Header Styles */
header {
    height: 70px;
    background-color: var(--header);
    display: flex;
    align-items: center;
    padding: 0 40px;
    color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

h1, h2, p {
    margin: 0;
}

button {
    font-family: inherit;
}

/* Books Section Styles */
#books-section {
    padding: 50px 75px 110px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 40px;
}

/* Book Card Styles */
.book-card {
    background-color: var(--card);
    border-radius: 12px;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.book-header {
    display: flex;
    justify-content: space-between;
    padding: 18px;
}

.book-title {
    font-weight: 600;
    font-size: 18px;
}

.book-author {
    color: var(--text-light);
    font-size: 14px;
}

.book-main {
    padding: 24px 18px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    color: var(--text-light);
    background-color: var(--card-main);
    flex-grow: 1;
}

.book-footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 24px;
    padding: 16px;
}

.book-footer button {
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease, outline 0.3s ease;
}

.not-read {
    background-color: var(--not-read);
}

.not-read:hover {
    background-color: white;
    color: var(--not-read);
    outline: 1px solid var(--not-read);
}

.read {
    background-color: var(--read);
}

.read:hover, form button:hover {
    background-color: white;
    color: var(--read);
    outline: 1px solid var(--read);
}

.delete {
    background-color: var(--delete);
}

.delete:hover {
    background-color: white;
    color: var(--delete);
    outline: 1px solid var(--delete);
}

/* Add Book Button */
#open-dialog {
    position: fixed;
    bottom: 28px;
    right: 28px;
    border-radius: 100%;
    background-color: var(--header);
    color: white;
    font-size: 36px;
    border: none;
    width: 72px;
    height: 72px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#open-dialog:hover {
    transform: translateY(-10px);
    background-color: var(--read);
}

/* Add Book Dialog */
#add-modal {
    border: none;
    border-radius: 16px;
    background-color: var(--card-main);
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 350px;
    box-shadow: 0px 0px 36px 4px rgba(0, 0, 0, 0.2);
}

#add-modal:not([open]) {
    display: none;
}

#add-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4px;
}

#close-dialog {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 16px;
    width: 32px;
    height: 32px;
    color: var(--header);
    transition: background-color 0.2s ease;
}

#close-dialog:hover {
    background-color: rgba(65, 67, 27, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-div, .radio-div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-div label, .radio-div p {
    font-size: 18px;
    font-weight: 600;
}

.form-div input {
    height: 32px;
}

.form-div textarea {
    height: 60px;
    resize: none;
}

.form-div input, .form-div textarea {
    border-radius: 8px;
    width: 100%;
    border: 1px solid var(--border);
    padding: 6px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
}

form .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
}

.radio-options {
    margin-top: 4px;
    display: flex;
    gap: 16px;
}

.radio-options label {
    display: flex;
    align-items: center;
    gap: 2px;
}

form button {
    background-color: var(--read);
    color: white;
    font-size: 16px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease, outline 0.3s ease;
}